<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Archiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Preferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Streamer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76341D421547856D0003D251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76514BFF1422960000FEA92B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76A807E015511D0400EAB544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76EAF94C154CD84F0055669F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76F74D0F142BD29D00F2A647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76FA916513CA5FF700456B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76FF74C913CA5E2E00633C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
