<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Faunus-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Faunus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FaunusTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Faunusd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>761768D415A3B0F900AE8553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7617690515A3B16A00AE8553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7617691D15A3B1B400AE8553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7643E1A015A3B29C0024799D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>767EAD9315A3B88D00B956C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>767EADAA15A3BA6E00B956C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76830B7315A3B2CD0021E027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76BDE78C15A3B32100BDB261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76BDE7AA15A3B41A00BDB261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
